<% @user.events.each do |event| %>

    <li><%= link_to event.name, event %>
	<% if current_user == @user %>
		| <%= link_to 'Remove', remove_attendee_event_path(:event_id => event.id, 
														   :user_id => @user.id), 
														   :method => :post %>
	<% end %>
	<% if event.is_owner?(current_user.id) && !current_user.admin? %>
		| <%= link_to "Edit Event", edit_event_path(event.id), :method => :post %>
	<% elsif current_user.admin? %>
		| <%= link_to "Edit Event", edit_event_path(event.id), :method => :post %>
		| <%= link_to 'Remove User', remove_attendee_event_path(:user_id => @user.id), :method => :post %>
	<% end %>
		
	</li>
<% end %>