<div id="page" class="top_bg_in">
	<div id="inner_pages" class="clearfix">
		<h1>Users</h1>
		<%= render 'index_breadcrumb' %>
		<div id="content" class="user_content clearfix">
			<ul class="sort_by">
				<li class="title"> Users :</li>
				<li class="current"> <%= link_to "Following", users_path %> </li>
				<li class> <%= link_to "Friends", users_path %> </li>
			</ul>
			<ul class="category_user_list_view clearfix">
				<%= render 'index_following' %>
			</ul>
		</div>
		<%= render 'index_sidebar' %>
	</div>
</div>