<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<% if @user.events.empty? %>
				Not attending anything.
			<% else %>
				This user is attending:
				<%= render :partial => 'users/attending' %></br>
			<% end %>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong>  <%= link_to user_path(@user), @user %>
		</td>
	</tr>
</table>