<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
				<%= render 'follow_form' if signed_in? %>
			</h1>
			<%= render 'attend_logic' %>
			<%= render 'follow_logic' %>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong>  <%= link_to user_path(@user), @user %>
		</td>
	</tr>
</table>