<li id="post" class="clearfix">
	<%= (link_to image_tag(event.photo.url(:small)), event, :class => "post_img") unless event.photo_file_name.nil?  %>
	<div class="content">
		<h3><%= link_to event.name , event %></h3>
		<p class="timing">
			<span>Date: </span><%= event.formatted_date %>
		</p>
		<p class="timing">
			<span>Cost: </span><%= event.cost? ? number_to_currency(event.cost) : "Free" %>
		</p>
		<div class="content_right">
			<%= pluralize(event.users.count, 'Attendee') %>
			<span class="rating"></span>
			<% if event.owner == current_user %>
				<%= link_to "Edit Event", edit_event_path(event.id), :method => :post %>
			<% else %>
				<% if event.users.include?(current_user) %>
						Attending (<%= link_to 'Cancel', remove_attendee_event_path(:id => event.id,
																				:user_id => current_user.id), 
																				:method => :post %>)
				<% else %>
						<%= link_to 'Attend Event', attend_event_path(:id => event.id), 
																  	  :method => :post %>								
				<% end %>
			<% end %>
		</div>
		<p class="address">
			<span>Location: </span><%= event.location %>
		</p>
		<p class="address">
			<span>You are: </span>
			<% if event.users.include?(current_user) %>
				Attending <%= event.owner == current_user ? "(Owner)" : nil %>
			<% else %>
				Not attending
			<% end %>
		</p>
		<p class="address">
			<span>Friends going: </span>
		</p>
		<p class="address">
			<% event.users.each do |attendee| %>
				<% if current_user.try(:following?, attendee) %>
					<%= link_to gravatar_for(attendee, :size => 35), attendee  %>
				<% end %>
			<% end %>
		</p>
	</div>
</li>