<li class="clearfix">
	<%= link_to event.name, event %>
	<% if current_user && event.owner == current_user %>
		(<%= link_to "Edit", edit_event_path(event.id), :method => :post %>)
	<% elsif current_user && event.owner != current_user %>
		(<%= link_to 'Remove', remove_attendee_event_path(:id => event.id,
														  :user_id => current_user.id), 
														  :method => :post %>)
	<% end %>
	<p><%= distance_of_time_in_words(Time.now, event.event_date) %> from now</p>
	<% event.users.each do |attendee| %>
		<% if current_user.try(:following?, attendee) %>
			<%= link_to gravatar_for(attendee, :size => 25), attendee  %>
		<% end %>
	<% end %>
	<% if !signed_in? %>
		<%= truncate(event.description, :length => 98) %><br /><br />
	<% end %>
</li>