<div class="form_row clearfix">
	<label><%= f.label :name %></label>
	<%= f.text_field :name, 
					 :id    => "proprty_name", 
					 :class => "textfield error" %>
</div>
<div class="form_row clearfix">
	<label><%= f.label :address %></label>
	<%= f.text_field :location, 
					 :id    => "proprty_name", 
					 :class => "textfield error" %>
</div>
<div class="form_row clearfix">
	<label><%= f.label :event_date %></label>
	<%= text_field_tag :event_date, "", 
					   :id    => "stdate",
					   :class => "textfield_m" %>
	<img src="public/stylesheets/images/default/cal.gif" onclick="displayCalendar(document.propertyform.stdate, 'yyyy-mm-dd',this)" style="cursor: pointer; margin-left: 5px;">
</div>
<div class="form_row clearfix">
	<label><%= f.label :description %></label>
	<%= f.text_field :description,
	 				 :id    => "property_name",
	 				 :class => "textfield error" %>
</div>
<div class="form_row clearfix">
	<label><%= f.label :cost %></label>
	<%= f.text_field :cost,
	 				 :id    => "property_name",
	 				 :class => "textfield error" %>
</div>
<div class="form_row clearfix">
	<label><%= f.label :category %></label>
	<%= select(:event, :category, Event::CATEGORIES, {:include_blank => true}) %>
</div>
<div class="form_row clearfix">
	<h5 class="form_title">
		Add Image</h5>
		<label><%= f.label :photo %></label>
		<%= f.file_field :photo %>
</div>