<li id="post" class="clearfix">
	<a class="post_img">
		<%= image_tag event.photo.url(:small) unless event.photo.nil? %>
	</a>
	<div class="content">
		<h3><a><%= link_to event.name, event %></a></h3>
		<p class="timing">
			<span>Date: </span><%= event.formatted_date_simple %>
		</p>
		<p class="timing">
			<span>Cost: </span><%= event.cost? ? number_to_currency(event.cost) : "Free" %>
		</p>
		<div class="content_right">
			<a><%= link_to "#{event.users.count} Attendees", event %> </a>
			<span class="rating">
				<%#= image_tag 'default/rating_off.png' %>
			</span>
		</div>
		<p class="address">
			<span>Location: </span><%= event.location %>
		</p>
		<p class="address">
			<span>You know: </span>Add followed users who are going.
		</p>
	</div>
</li>