<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %><br /><br />
	<%= f.label :description %><br />
	<%= f.text_field :description %><br /><br />
	<%= f.label :event_date %><br />
	<%= text_field_tag :event_date, "", :size=>30 %><br /><br />
	<%= f.label :location %><br />
	<%= f.text_field :location %>
</div>