<%= render 'shared/error_messages', :object => f.object %>
<div class="form_row clearfix">
	<label><%= f.label :name %></label>
	<%= f.text_field :name, 
					 :id => "proprty_name", 
					 :class => "textfield error" %>
</div>
<div class="form_row clearfix">
	<label><%= f.label :address %></label>
	<%= f.text_field :location, 
					 :id => "proprty_name", 
					 :class => "textfield error" %>
</div>
<div class="form_row clearfix">
	<label><%= f.label :event_date %></label>
	<%= text_field_tag :event_date, "", 
					   :id => "stdate",
					   :class => "textfield_m" %>
	<img src="stylesheets/images/default/cal.gif" onclick="displayCalendar(document.propertyform.stdate, 'yyyy-mm-dd',this)" style="cursor: pointer; margin-left: 5px;">
</div>
<div class="form_row clearfix">
	<label><%= f.label :description %></label>
	<%= f.text_field :description,
	 				 :id => "property_name",
	 				 :class => "textfield error" %>
</div>

	<%= f.label :cost %><br />
	<%= f.text_field :cost %><br /><br />
	<%= f.label :category %><br />
	<%= select(:event, :category, Event::CATEGORIES, {:include_blank => true}) %><br /><br />
	<%= f.file_field :photo %>