<h1>Edit Event</h1>
<%= form_for @event, :html => { :multipart => true } do |f| %>
	<div class="actions">
		<%= f.label :name %><br />
		<%= f.text_field :name %><br /><br />
		<%= f.label :description %><br />
		<%= f.text_field :description %><br /><br />
		<%= f.label :event_date %><br />
		<%= text_field_tag :event_date, @event.event_date.try(:strftime, "%m/%d/%Y at %I:%M%p"), :size=>30 %><br /><br />
		<%= f.label :location %><br />
		<%= f.text_field :location %><br /><br />
		<%= f.label :category %><br />
		<%= select(:event, :category, Event::CATEGORIES, {:include_blank => true}) %><br /><br />
		<%= f.file_field :photo %><br /><br />
		<%= f.submit "Update" %>
	</div>
<% end %>