<div id="page" class="top_bg_in">
	<div id="inner_pages" class="clearfix">
		<h1>Events</h1>
		<div class="breadcrumb clearfix">
			<div class="breadcrumb_in">Home » Events</div>
		</div>
		<div id="content" class="content_index clearfix">
			<ul class="sort_by">
				<li class="title"> Events :</li>
				<% if params[:list_by] == "event_feed" %>
					<li class>
						<%= link_to "Upcoming", events_path %>
					</li>
					<li class="current">
						<%= link_to "Feed", :list_by => "event_feed" %>
					</li>
					<li class>
						<%= link_to "Owned", :list_by => "owned_events" %>
					</li>
				<% elsif params[:list_by] == "owned_events" %>
					<li class> 
						<%= link_to "Upcoming", events_path %>
					</li>
					<li class>
						<%= link_to "Feed", :list_by => "event_feed" %>
					</li>
					<li class="current">
						<%= link_to "Owned", :list_by => "owned_events" %>
					</li>
				<% else %>
					<li class="current">
						<%= link_to "Upcoming", events_path %>
					</li>
					<li class>
						<%= link_to "Feed", :list_by => "event_feed" %>
					</li>
					<li class>
						<%= link_to "Owned", :list_by => "owned_events" %>
					</li>
				<% end %>
			</ul>
			<ul class="category_list_view clearfix">
				<%= render @events %>
			</ul>
		</div>
		<%= render 'index_sidebar' %>
	</div>
</div>