<h1>My Events</h1>

<%= button_to "Create Event", create_event_path %></br>

<ul>
<% @my_events.each do |event| %>
	<%= link_to event.name, event %>
	<% if event.is_owner?(current_user.id) %>
		(Owner)
	<% end %>
	on <%= event.formatted_date %>
	| <%= link_to 'Decline', remove_attendee_event_path(:id => event.id, :user_id => current_user.id), :method => :post %>

	<% if event.is_owner?(current_user.id) || current_user.admin? %>
		| <%= link_to "Delete", event, :method => :delete, 
									   :confirm => "You sure?",
							  		   :title => "Delete #{event.name}" %>
		| <%= link_to "Edit Event", edit_event_path(event.id), :method => :post %>
	<% end %></br>
<% end %>
</ul>