<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1><%= @event.name %></h1>
			<%= render 'attend' %><br />
			Date: <%= @event.formatted_date %><br />
			Category: <%= @event.category %><br />
			Cost: <%= @event.cost.nil? ? "Free" : number_to_currency(@event.cost) %><br />
			Location: <%= @event.location %><br />
			Description: <%= @event.description %><br /><br />
			<%= render :partial => 'events/attendees' %><br />	
			<%= gmaps(:markers => {:data => @json, 
					  :options => {:raw => '{ animation: google.maps.Animation }' } },
			          :map_options => { :raw => '{ disableDefaultUI: false, 
												   scrollwheel: true }' }) %>
			<%= image_tag @event.photo.url(:medium) unless @event.photo.nil? %>	
		</td>
		<%= render 'sidebar' %>
	</tr>
</table>