<% @past_events.each do |event| %>
	<li class="clearfix">
		<a class="post_img"><%= image_tag event.photo.url(:small) unless event.photo.nil? %></a>
		<h3><%= link_to event.name, event %></h3>
		<%= event.formatted_date %>
		<p><%= event.description %></p>
		<p class="review clearfix">
			<%= event.users.count %> attendees
			<span class="readmore">
				<%= link_to "read more", event %>
			</span>
		</p>
		<%#= event.users.include?(current_user) ? "You " : nil %>
		<%# event.users.each do |user| %>
			<%#= current_user.following?(user) ? (link_to user.name, user) : nil %>
		<%# end %>
	</li>
<% end %>