<h4>Upcoming Events:</h4>
<ul>
<% @upcoming_events.each do |event| %>
	<li>
	<%= link_to event.name, event %> | <%= event.formatted_date %> | 
	<%= event.users.include?(current_user) ? "You " : nil %>
	<% event.users.each do |user| %>
		<%= current_user.following?(user) ? (link_to user.name, user) : nil %>
	<% end %>
	</li>
<% end %>
</ul>

<br />

<h4>Past Events:</h4>
<ul>
<% @past_events.each do |event| %>
	<li>
	<%= link_to event.name, event %> | <%= event.formatted_date %> |
	<%= event.users.include?(current_user) ? "You " : nil %>
	<% event.users.each do |user| %>
		<%= current_user.following?(user) ? (link_to user.name, user) : nil %>
	<% end %>
	</li>
<% end %>
</ul>