<h1>Project App Homepage</h1>

<% if !signed_in? %>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% else %>
	<li><%= link_to "Users", users_path %></li>
	<li><%= link_to "Events", events_path %></li>
	<li><%= link_to "Profile", current_user %></li>
	
	<h3>Upcoming Events</h3>
	<ul class="users">
		<% @events.each do |event| %>
			<%= render :partial => 'events/eventhome', :locals=> {:event=>event} %>
		<% end %>
	</ul>
<% end %>
