<div id="page" class="top_bg_in">
	<div id="header_outer">
		<div id="header" class="clearfix">
			<%= render 'layouts/header_right' %>
		</div>
		<div id="categories_strip">
			<div class="searchform">
				<%= form_tag events_path, :method => 'get',
										  :id => "searchform2" do %>
					<span class="searchfor" style="float: right;">
						<%= text_field_tag :search, params[:search],
										   :placeholder => "Search for",
										   :id => "events_search",
										   :class => "s" %>
					</span>
				<% end %>
			</div>
			<ul>
				<li class="current_page_item home">
					<%#= link_to "Home", root_path %>
				</li>
				<% if !signed_in? %>
					<li class="cat-item cat-item-3">
						<%= link_to "Events", root_path %>
					</li>
				<% else %>
					<li class="cat-item cat-item-3">
						<%= link_to "My Events", root_path %>
					</li>
					<li class="cat-item cat-item-2">
						<%= link_to "People", users_path %>
					</li>
					<li class="cat-item cat-item-4">
						<%= link_to "Profile", current_user %>
					</li>
					<li class="cat-item cat-item-5">
						<%= link_to "Create Event", create_event_path %>
					</li>
				<% end %>		
			</ul>

		</div>
	</div>
</div>