<div class="header_right">
	<ul>
		<li class="hometab ">
			<%= link_to "Home", root_path %>
		</li>
		<% if signed_in? %>
			<li class="page_item">
				<%= link_to "Profile", current_user %>
			</li>
			<li class="page_item">
				<%= link_to "Settings", edit_user_path(current_user) %>
			</li>
			<li class="page_item">
				<%= link_to "Sign out", signout_path, :method => :delete %>
			</li>
		<% else %>
			<li class="page_item">
				<%= link_to "Sign in", signin_path %>
			</li>
		<% end %>
	</ul>
	<div class="searchform">
		<%= form_tag events_path, :method => 'get',
		 						  :id => "searchform2" do %>
			<span class="searchfor" style="float: right;">
				<%= text_field_tag :search, params[:search],
								   :placeholder => "Search for",
				 				   :id => "events_search",
								   :class => "s" %>
				<small class="text">events or people</small>
			</span>
			<%#= submit_tag "", :name => nil,
			 				   :class => "search_btn" %>
		<% end %>
	</div>
</div>