<div id="page" class="top_bg_in">
	<div id="header_outer">
		<div id="header" class="clearfix">
			<div class="header_left"></div>
			<%= render 'layouts/header_right' %>
		</div>
		<div id="categories_strip">
			<ul>
				<li class="current_page_item home">
					<%= link_to "Home", root_path %>
				</li>
				<li class="cat-item cat-item-3">
					<%= link_to "Events", events_path %>
				</li>
				<% if signed_in? %>
					<li class="cat-item cat-item-2">
						<%= link_to "Users", users_path %>
					</li>
					<li class="cat-item cat-item-4">
						<%= link_to "Profile", current_user %>
					</li>
					<li class="cat-item cat-item-5">
						<%= link_to "Create Event", create_event_path %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>