<div class="header_right">
	<ul>
		<li class="hometab ">
			<%= link_to "Home", root_path %>
		</li>
		<% if signed_in? %>
			<li class="page_item">
				<%= link_to "Profile", current_user %>
			</li>
			<li class="page_item">
				<%= link_to "Settings", edit_user_path(current_user )%>
			</li>
			<li class="page_item">
				<%= link_to "Sign out", signout_path, :method => :delete %>
			</li>
		<% else %>
			<li class="page_item">
				<%= link_to "Sign in", signin_path %>
			</li>
		<% end %>
	</ul>
	<div class="searchform">
		<span class="searchfor">
			<%= form_tag events_path, :method => 'get' do %>
				<%= text_field_tag :search, params[:search],
								   :value => "Search for",
				 				   :id => "events_search",
								   :class => "s"%>
				<small class="text">events or people</small>
			<% end %>
		</span>
		<%= submit_tag "", :name => nil,
		 				   :class => "search_btn" %>
		<span class="near">
			<input name="sn" id="sn" type="text" class="s" value="Near">
			<small class="text">Zip code or address </small>
		</span>
	</div>
</div>